<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="content/css/first.css">
</head>
<body>
<form method="post">
    <h1>LOGIN</h1>
    <input type="text" placeholder="Username"name="name"><br>
    <input type="text" placeholder="Password" name="password"><br>
    <input type="submit">
</form>
</body>
</html>
