<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="first.css">
</head>
<body>
<div >
<form method="post">
    <h1 align="center"style="background-color:Tomato;">WELCOME</h1>
    <h4 align="center"style="background-color:Orange;">First you should</h4>
    <h3 align="center" style="background-color:DodgerBlue;">LOGIN</h3>
    <h3 align="center" style="background-color:MediumSeaGreen;"> <input  type="text" placeholder="Username"name="name"><br></h3>
    <h3 align="center" style="background-color:Gray;"> <input  type="text" placeholder="Password" name="password"><br></h3>
    <h3 align="center" style="background-color:SlateBlue;"><input  type="submit"></h3>
    <h4 align="center"style="background-color:Violet;">Thank you</h4>
    <h4 align="center" style="background-color:LightGray;">Contact with us</h4>
</form>
</div>
</body>
</html>
